@font-face {
  font-family: 'Pixelify-Sans';
  src: url('/PixelifySans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.main-container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.shop-container{
  width: 340px;
  height: 494px;
  background: #ffffffFF;
  border: 2px solid #000000FF;
  border-radius: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.welcome-message{
  width: 289px;
  height: 48px;
  background: #ac68f0FF;
  border: 2px solid #000000FF;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 4px 4px 4px 0px #0000004D;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 20px;
  font-family: Pixelify-Sans;
  color: black;
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  @media (max-width: 710px) {
    font-size: 15px;
  }
  z-index: 999;
}

.level-bar-main-container{
  width: 293px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 60px;
}

.level-text-container{
  font-family: Pixelify-Sans;
  color: black;
  font-size: 20px;
  margin-bottom: 5px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.level-bar-back{
  width: 277px;
  height: 20px;
  background: #ccc;
  border: 0.1px solid #000000FF;
  border-radius: 20px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 4px;
}

.level-bar-front{
  border-radius: 20px 20px 20px 20px;
  background: #ac68f0;
  border: 0.1px solid #000000FF;
  height: 100%;
  @media (max-width: 710px) {
    border: 2px solid #000000FF;
  }
}

.minutes-elapsed-text{
  font-family: Pixelify-Sans;
  color: black;
  font-size: 13px;
  margin-bottom: 3px;
}

.level-claim-button{
  width: 61px;
  height: 21.99px;
  background: #ac68f0FF;
  border: 2px solid #000000FF;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 4px 4px 4px 0px #0000004D;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Pixelify-Sans;
  font-size: 15px;
  color: black;
  user-select: none;
}

.start-label{
  font-family: Pixelify-Sans;
  color: black;
  font-size: 15px;
  position: absolute;
  bottom: 5px;
  left: 15px;
}

.goal-label{
  font-family: Pixelify-Sans;
  color: black;
  font-size: 15px;
  position: absolute;
  bottom: 5px;
  right: 0px;
}


.goal-container{
  width: 73px;
  height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  border-radius: 5px;
  font-family: Pixelify-Sans;
  font-size: 10px;
  position: absolute;
  top: 13px;
  right: 0px;
  @media (max-width: 710px) {
    font-size: 5px;
    top: 17px;
  }
}

.start-container{
  width: 73px;
  height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  border-radius: 5px;
  font-family: Pixelify-Sans;
  font-size: 10px;
  position: absolute;
  top: 13px;
  left: 0px;
  @media (max-width: 710px) {
    font-size: 5px;
    top: 17px;
  }
}

.item-main-container{
  width: 293px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 57px;
  margin-bottom: 27px;
}

.image-container{
  width: 230px;
  height: 195px;
  background: #ac68f0FF;
  border: 2px solid #000000FF;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 4px 4px 4px 0px #00000033;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 11px;
  position: relative;
  @media (max-width: 710px) {
    width: 276px;
    height: 234px;
  }
}

.blackout-image {
  width: 112px;
  height: 135px;

  @media (max-width: 710px) {
    width: 89.6px;
    height: 108px;
  }
}

.flashlight-image {
  width: 187px;
  height: 83px;

  @media (max-width: 710px) {
    width: 149.6px;
    height: 66.4px;
  }
}

.invert-image {
  width: 61px;
  height: 146px;

  @media (max-width: 710px) {
    width: 48.8px;
    height: 116.8px;
  }
}

.smudge-image {
  width: 158px;
  height: 122px;

  @media (max-width: 710px) {
    width: 126.4px;
    height: 97.6px;
  }
}

.mirror-image {
  width: 105px;
  height: 133px;

  @media (max-width: 710px) {
    width: 84px;
    height: 106.4px;
  }
}

.pepper-image {
  width: 100px;
  height: 149px;

  @media (max-width: 710px) {
    width: 80px;
    height: 119.2px;
  }
}


.item-name-container{
  font-family: Pixelify-Sans;
  color: black;
  font-size: 24px;
  margin-bottom: 11px;
}

.item-description-container{
  font-family: Pixelify-Sans;
  color: black;
  font-size: 15px;
  text-align: center;
  margin-bottom: 11px;
}

.buy-button {
  height: 38px;
  width: 75px;
  background: #ac68f0FF;
  border: 2px solid #000000FF;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 0px #00000033;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Pixelify-Sans;
  color: black;
  font-size: 20px;
  user-select: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.buy-button:hover {
  transform: scale(0.9);
}

.buy-button:active {
  transform: scale(1.1);
}

.shop-father-container{
  width: 100%;
  height: 1000000px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow-y: scroll;
}

.shop-father-container::-webkit-scrollbar{
  width: 8px;
}

.shop-father-container::-webkit-scrollbar-track{
  background: transparent;
}

.shop-father-container::-webkit-scrollbar-thumb{
  background-color: #ac68f0FF;
  border-radius: 4px;
}

.ink-container--header{
  width: 86px;
  height: 30px;
  background: #000000FF;
  border: 2px solid #9b39ffFF;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 4px 4px 4px 0px #0000004D;
  position: absolute;
  top: 3px;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 12.5px;
  padding-right: 8px;
  font-family: Pixelify-Sans;
  color: #9b39ff;
  font-size: 20px;
  z-index: 999;
}

.ink-container--price{
  width: 86px;
  height: 30px;
  background: #000000FF;
  border: 2px solid #9b39ffFF;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 4px 4px 4px 0px #0000004D;
  position: absolute;
  top: -9px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 12.5px;
  padding-right: 8px;
  font-family: Pixelify-Sans;
  color: #9b39ff;
  font-size: 20px;
}

.ink-image{
  width: 16px;
  height: 17px;
  margin-right: auto;
}
